.DS_Store

# Node Modules (NPM deps)
ng/node_modules
platforms/cordova/node_modules
platforms/electron/node_modules

# Cordova
platforms/cordova/plugins/
platforms/cordova/platforms/
platforms/cordova/www

# Electron
platforms/electron/dist
platforms/electron/www