.DS_Store

# Node Modules (NPM deps)
node_modules
ng/node_modules
ng/.angular/cache
platforms/cordova/node_modules
platforms/electron/node_modules

# Android Platform
platforms/android/plugins/
platforms/android/platforms/
platforms/android/www

# Desktop Platform (Electron)
platforms/desktop/dist
platforms/desktop/www

# Cloud Platform (Web Command & Control)
platforms/cloud/node_modules