.sticky-top {
  position: sticky;
}

.app-card-icon {
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

.app-card-content {
  font-size: 0.8em;
}

.app-card-content > p {
  margin: 2px;
}

.app-card-content > h3 {
  font-size: 1.4em;
}

ul {
  list-style: none;
  font-size: 12pt;
  margin: 0 0 2px 0;

  padding: 0;
}

li {
  margin: 0;
  padding: 0;
}
