.flex-container {
  display: flex;
  flex-direction: column;

  align-items: stretch;

  height: 100%;
  overflow: hidden;
}

.luna-panel {
  position: relative;
  max-height: 100%;
  flex-grow: 1;
  overflow: hidden;

  display: grid;
  grid-template-rows: calc(100% - 84px) 84px;
}

.app-main-panel {
  max-height: 100%;
  overflow-y: auto;
}

app-player {
  align-self: end;
}
